:root {
    --color-debug: rgba(255, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#debug {
    color: white;
    font-size: 2rem;
}

.link {
    margin-top: 1rem;
    color: rgb(200, 200, 200);
    font-size: 1.5rem;
}

.link:active {
    color: white;
}

.wrapper {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1r;
    gap: 0rem;
}